
<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Categories</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Category" class="btn btn-info form-control text-white">
            Add a New Category
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Creation Date</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- script for loading the table with datatables. -->
@section Scripts {
    <script src="~/js/categoryList.js"></script>
}

